<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated quality_requirements_metamodel -->
      <package
            uri="http://www.example.org/quality_requirements_metamodel"
            class="quality_requirements_metamodel.Quality_requirements_metamodelPackage"
            genModel="model/quality_requirements_metamodel.genmodel"/>
   </extension>

</plugin>
