<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<plugin>

  <extension point="org.eclipse.emf.ecore.generated_package">
    <package 
       uri = "http://www.xtext.org/jlog/JlogDsl" 
       class = "org.xtext.jlog.jlogDsl.JlogDslPackage"
       genModel = "model/generated/JlogDsl.genmodel" /> 
	
  </extension>



</plugin>
